<%- include('partials/header') %> 

    <!--PROFILE-->
    <div class="row mt-5">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Matt Clifford</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img src="/assets/profile.jpg" class="card-img-top" alt="Profile Pic" style="width: 18rem">
                        </div>
                        <div class="col">
                            <p>HTML</p>
                            <P>CSS</P>
                            <p>JavaScript</p>
                            <p>BootStrap</p>
                            <p>Node JS</p>
                        </div>
                    </div>
                    <p class="card-text">Tel: +44 (0)7890 913 089</p>
                    <p class="card-rext">Email: matthewclifford@hotmail.co.uk</p>
                    <a href="/documents/matt_clifford_CV.pdf" target="_blank" class="btn btn-sm text-nowrap">CV</a>
                    <a href="https://www.linkedin.com/in/mattclifford123/" target="_blank" rel="noopener noreferrer"><button class="btn btn-sm text-nowrap">LinkedIn</button></a>
                    <a href="https://github.com/BuenVia" target="_blank" rel="noopener noreferrer"><button class="btn btn-sm text-nowrap">GitHub</button></a>
                </div>
            </div>
        </div>

        <!--BLOG-->
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Latest Blog Post</h5>
                </div>
                <div class="card-body">
                    <% blog.forEach(blog => { %>
                        <h6><%= blog.title %></h6>
                        <p><%= blog.content.substring(0, 200) %>...</p>
                        <a href="" class="btn btn-sm">Read more...</a>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <!--PROJECTS--> 
    <div class="mt-5">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Projects</h5>
            </div>
            <div class="card-body">         
                <% projects.forEach(project => { %>
                    <div class="card mb-3 bg-wd">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    <img src="/assets/port_verb.png" class="img-fluid rounded-start" alt="">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><%= project.title %></h5>
                                    <p class="card-text"><%= project.content %></p>
                                    <div class="card-btn-cont">
                                        <a href="<%= project.site %> " target="_blank" rel="noopener noreferrer"><button class="btn btn-sm btn-st">Site</button></a>
                                        <a href="<%= project.gitHub %>" target="_blank" rel="noopener noreferrer"><button class="btn btn-sm btn-st">Github</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                <% }) %> 
            </div>
        </div>
    </div>




    <%- include('partials/footer') %> 